@*
    This page will tell us about the app and how this app works
*@
@{
    ViewData["Title"] = "About This App";
}
<h1>@ViewData["Title"]</h1>
<p class="text-start">Asset tracking, sometimes referred to as asset management, is the method you use to track your physical assets.</p>
<h3>How this app works</h3><br />
<h3>Benefits of Asset Tracking</h3>
<p class="text-start">In this program for tracking assets in a company which has many branches in several countries. In this case, I assign that just one office in one country.</p><br />
<h3>Functions of Asset Tracking</h3>

<h3>User Roles</h3>
