
@{  
    ViewData["Title"] = "Index";  
} 


<body >
    <div class="text-center img-fluid" style="background-image:url(https://localhost:7056/AssetTracking1.jpeg); background-repeat:no-repeat">    
    
    <h1 class="display-3" style="color:orangered">   Asset Tracking</h1>
@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
</body>

