@model AssetItem
@*
    This page is for creating Office
*@
@{
    ViewData["Title"] = "Create New Asset";
}

<h1>Create New Asset</h1>

    <input type="text" name="item" />
    <input type="text" name="category"/>
    <input type="number" name="price" />
    <input type="submit" value="Create" /> 
