@model AssetItem
@*
    This page is for creating Office
*@
@{
    ViewData["Title"] = "Create New Asset";
}

<h1>Create New Asset</h1>

Asset:     <input type="text" name="item" /><br />
Category : <input type="text" name="category"/><br />
Price :    <input type="number" name="price" /><br />
<input type="submit" value="Create" /> 
