@model AssetItem
@*
    This page is for Dleting Asset item
*@
@{
    ViewData["Title"] = "Delete Asset Item Data";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="DeleteAsset">
    <div class="border p-5">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Detail of Asset</h2>
        </div>
        <br />

        <div class=row>
            <div class="col-4">
                <label asp-for="Office"></label>
                <input asp-for="Office" name="office" value="@Model.Office.Country"/>
            </div>
        </div>
        <br />

        <div class=row>
            <div class="col-4">
                <label asp-for="Category"></label>
                <input asp-for="Category" name="category" value="@Model.Category.Description"/>
           </div>
        </div>
        <br />

        <div class=row>
               <div class="col-4">
                    <label asp-for="Brand"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
               </div>  
        </div>
        <br />

        <div class=row>
               <div class="col-4">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
               </div>  
        </div>
        <br />

        <div class=row>
               <div class="col-4">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
               </div>
         </div>
        <br />

        <div class="row">
            <div class="col-4">
                <label asp-for="PurchaseDate"></label>
                <input asp-for="PurchaseDate" type="date" class="form-control"/>
            </div>
        </div>
        <br />

       <div class="row">
            <div class="col-4">
                <label asp-for="EndOfLife"></label>
                <input asp-for="EndOfLife" type="date" name="enddate" class="form-control")" />
            </div>
        </div>
        <br />

        <div class="w-12 btn-group" role="group">
                <input type="submit"class="btn btn-primary mx-1" value="Delete" />
                <a asp-action="IndexAsset" class="btn btn-danger mx-1">Back</a>
        </div>
    </div>
</form>
